@import "tailwindcss";

@layer components {
  .card {
    @apply bg-gray-100 rounded-lg p-4 cursor-pointer transition-all duration-300;
  }

  .btn-primary {
    @apply bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 active:bg-blue-600;
  }
}
